body {
	background: white;
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
	margin-left: 10em;
	width: 50em;
}

.rss-link-div {
    float: right;
}

.rss-link {
    color: White;
    background: #f60;
    font-weight: bold;
    font-family: sans-serif;
    font-size: small;
    padding: 0.2em 0.35em;
    text-decoration: none;
    border: solid 2px;
    border-color: #f80 #960 #960 #f80;
}

div.article {
	background: #FAFFFA;
	margin: 0.5em;
	padding-left: 2px;
	padding-right: 2px;
	border-style: solid;
	border-width: thin;
	border-color: MidnightBlue;
}

h1 {
	text-decoration: underline;
	color: MidnightBlue;
	padding-left: 1em;
	margin-top: 2px;
	background: LightBlue; /* for old browsers */
	background: linear-gradient(LightBlue, #FAFFFA);
}

p {
	text-align: justify;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

p.jroller-origin {
	font-style:italic;
	font-size: smaller;
	text-align: center;
	padding-top: 1em;
	color: DarkGray;
}

p.jroller-origin > a {
	color: DarkGray;
}

p.pubdate {
	font-style:italic;
	font-size: smaller;
	text-align: center;
	padding-top: 1em;
	color: DarkGray;
}

p.subtitle {
	font-style:italic;
	font-size: smaller;
	text-align: right;
	color: MidnightBlue;
}

img {
	border-style: solid;
	border-width: thin;
	border-color: MidnightBlue;
	box-shadow: 6px 6px 5px grey;
}
